<!-- item -->
<td ng-repeat="plate in Plates.page.objects">
    <div class="gallery-products-item">
        <div class="gallery-products-item-thumbnail" style="background-image: url('{{plate.image}}');"></div>
        <div class="gallery-products-item-summary" data-toggle="modal" data-target="#myModal">
            <span class="gallery-products-item-summary-title">
                <p>{{plate.title}}</p>
            </span>
            <span class="gallery-products-item-summary-social">
                <div class="row gallery-products-item-summary-social-content">
                    <div class="col-xs-4 gallery-products-item-summary-social-info">
                        <span>
                            <i class="fa fa-shopping-cart"></i>
                            <p>0</p>
                        </span>
                    </div>
                    <div class="col-xs-4 gallery-products-item-summary-social-info">
                        <span>
                            <i class="fa fa-heart"></i>
                            <p>0</p>
                        </span>
                    </div>
                    <div class="col-xs-4 gallery-products-item-summary-social-info">
                        <span>
                            <i class="fa fa-share-alt"></i>
                            <p>0</p>
                        </span>
                    </div>
                </div>
            </span>
        </div>
    </div>
</td>
