{{user = Users.page.objects[0];""}}
<div class="col-xs-4 user-information-image">
    <span class="user-information-image-content">
        <img src="//avatars.io/instagram/{{user.id}}/128x128px">
    </span>
</div>
<div class="col-xs-8 user-information-summary">
    <span class="user-information-summary-name">
        <p>{{user.first_name}}</p>
    </span>
    <span class="user-information-summary-email">
        <p>{{user.email}}</p>
    </span>
    <span class="user-information-summary-logout">
        <a href="/accounts/logout/"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
    </span>
</div>