{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="galleryModule" >
<head>
    <title>Platos de Comida</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'styles/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/app/main.min.css' %}">

    <script src="{% static 'scripts/angular-1.3.0/angular.min.js' %}"></script>
    <script src="{% static 'scripts/angular-1.3.0/angular-route.min.js' %}"></script>
    <script src="{% static 'scripts/angular-1.3.0/angular-resource.min.js' %}"></script>
    <script src="{% static 'scripts/angular-resource-tastypie/angular-resource-tastypie.min.js' %}"></script>

    <script src="{% static 'scripts/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'scripts/app/main.js' %}"></script>
</head>
<body>
    <!-- Main Container -->
    <div class="container-fluid page-background page-full-size margin-right-0 padding-right-0">
        <div class="container relative_height page-container margin-right-0 padding-right-0">
            <div class="row relative_height">
                <!-- Container Menu -->
                <div class="col-xs-3 relative_height overflow-hidden">
                    <!-- Logo of Site -->
                    <div class="row page-logo-container">
                        <div class="col-xs-12">
                            <div class="page-logo-image">
                                <img src="{% static 'images/page_logo.png' %}">
                            </div>
                        </div>
                    </div>
                    <!-- Summary Session -->
                    <div class="row summary-session-container">
                        <div class="col-xs-12" ng-controller="menuCtrl">
                            <!-- User's Information Summary -->
                            <div class="row user-information-container" ng-include="'static/scripts/app/html/menu.html'"></div>
                            <hr>
                            <!-- Shopping Cart Summary -->
                            <div class="row shopping-summary">
                                <div class="col-xs-12">
                                    <div class="shopping-summary-title">
                                        <h4>Resumen de compra</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="row shopping-summary-item">
                                                <!-- Item Image -->
                                                <span class="col-xs-4 shopping-summary-item-image">
                                                    <div class="shopping-summary-item-image-content">
                                                        <img src="{% static 'images/img_cart_item.jpg' %}">
                                                    </div>
                                                </span>
                                                <!-- Item Info Summary -->
                                                <span class="col-xs-6 shopping-summary-item-info">
                                                    <div class="row">
                                                        <p>Titulo Item Cart</p>
                                                        <span class="shopping-summary-item-info-price">
                                                            <i class="fa fa-usd"></i>
                                                            <p>
                                                                <b>1</b>.00
                                                            </p>
                                                        </span>
                                                    </div>
                                                </span>
                                                <span class="col-xs-2 shopping-summary-item-actions">
                                                    <span class="btn-style-primary">
                                                        <i class="fa fa-times"></i>
                                                    </span>
                                                </span>
                                                <!-- Item Edit Options -->
                                                <form action="." class="shopping-summary-item-form">
                                                    <div class="box-input-number">
                                                        <span class="btn-input-number">
                                                            <i class="fa fa-chevron-left"></i>
                                                        </span>
                                                        <input class="txt-input-number" type="text" placeholder="0">
                                                        <span class="btn-input-number">
                                                            <i class="fa fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                            <hr class="line">
                                        </li>
                                        <li>
                                            <div class="row shopping-summary-item">
                                                <!-- Item Image -->
                                                <span class="col-xs-4 shopping-summary-item-image">
                                                    <div class="shopping-summary-item-image-content">
                                                        <img src="{% static 'images/img_cart_item.jpg' %}">
                                                    </div>
                                                </span>
                                                <!-- Item Info Summary -->
                                                <span class="col-xs-6 shopping-summary-item-info">
                                                    <div class="row">
                                                        <p>Titulo Item Cart</p>
                                                        <span class="shopping-summary-item-info-price">
                                                            <i class="fa fa-usd"></i>
                                                            <p>
                                                                <b>1</b>.00
                                                            </p>
                                                        </span>
                                                    </div>
                                                </span>
                                                <span class="col-xs-2 shopping-summary-item-actions">
                                                    <span class="btn-style-primary">
                                                        <i class="fa fa-times"></i>
                                                    </span>
                                                </span>
                                                <!-- Item Edit Options -->
                                                <form action="." class="shopping-summary-item-form">
                                                    <div class="box-input-number">
                                                        <span class="btn-input-number">
                                                            <i class="fa fa-chevron-left"></i>
                                                        </span>
                                                        <input class="txt-input-number" type="text" placeholder="0">
                                                        <span class="btn-input-number">
                                                            <i class="fa fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                            <hr class="line">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Shopping Cart Options -->
                            <div class="row cart-options">
                                <div class="col-xs-12">
                                    <form action="." class="cart-options-form">
                                        <div class="btn-input-buy">
                                            <span class="col-xs-6 text-left btn-input-buy-content">
                                                <i class="fa fa-shopping-cart"></i>
                                                <p>Comprar</p>
                                            </span>
                                            <span class="col-xs-6 text-right btn-input-buy-content">
                                                <p>Total</p>
                                                <span class="cart-item-price">
                                                    <i class="fa fa-usd"></i>
                                                    <p>
                                                        <b>1</b>.00
                                                    </p>
                                                </span>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Terms and Conditions Link -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="page-links text-center">
                                        <a href="#" class="link">Términos y Condiciones</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Menu of Site -->
                    <input type="checkbox" id="show-menu" role="button" class="menu-toogle">
                    <div class="row menu-container">
                        <div class="col-xs-12 menu-nav-btn">
                            <label for="show-menu">
                                <i class="fa fa-bars"></i>
                            </label>

                        </div>
                        <div class="col-xs-12 menu-nav-container">
                            <br>
                            <nav>
                                <ul class="row">
                                    <li class="col-xs-6 menu-nav-item">
                                        <a href="#">
                                            <span>
                                                <i class="fa fa-home"></i>
                                                Inicio
                                            </span>
                                        </a>
                                    </li>
                                    <li class="col-xs-6 menu-nav-item">
                                        <a href="#">
                                            <span>
                                                <i class="fa fa-lightbulb-o"></i>
                                                Conózcanos
                                            </span>
                                        </a>
                                    </li>
                                    <li class="col-xs-6 menu-nav-item">
                                        <a href="#">
                                            <span>
                                                <i class="fa fa-picture-o"></i>
                                                Galería
                                            </span>
                                        </a>
                                    </li>
                                    <li class="col-xs-6 menu-nav-item active">
                                        <a href="#">
                                            <span>
                                                <i class="fa fa-diamond"></i>
                                                Ofertas
                                            </span>
                                        </a>
                                    </li>
                                    <li class="col-xs-6 menu-nav-item">
                                        <a href="#">
                                            <span>
                                                <i class="fa fa-newspaper-o"></i>
                                                Blog
                                            </span>
                                        </a>
                                    </li>
                                    <li class="col-xs-6 menu-nav-item">
                                        <a href="#">
                                            <span>
                                                <i class="fa fa-envelope"></i>
                                                Contacto
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <br>
                        </div>
                        <div class="col-xs-12 menu-search-container">
                            <form action="." class="menu-searh-form">
                                <span class="menu-searh-form-content">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input type="text" placeholder="Buscar">
                                </span>
                            </form>
                            <br>
                        </div>
                        <div class="col-xs-12 menu-social-container">
                            <div class="row">
                                <div class="col-xs-4 menu-social line">
                                    <a href="#">
                                        <i class="fa fa-facebook-official"></i>
                                    </a>
                                </div>
                                <div class="col-xs-4 menu-social line">
                                    <a href="#">
                                        <i class="fa fa-twitter-square"></i>
                                    </a>
                                </div>
                                <div class="col-xs-4 menu-social">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container Products -->
                <div class="col-xs-9 relative_height padding-0">
                    <div class="gallery-products-container">
                        <table class="gallery-products">
                            <tbody>
                                <tr ng-view>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Container -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>