.page-background{
  background-image: url("../../images/page_background.png");
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  &::after{
    display: block;
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
  }
}

.page-container{
  z-index: 5;
}

.page-full-size{
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-logo-container{
  height: 30%;
  min-height: 30%;
  position: relative;

  .page-logo-image{
    position: relative;
    padding: 10px;
    height: 200px;
    width: 100%;
    text-align: center;

    img{
      display: inline-block;
      max-width: initial;
      height: 100%;
    }
  }
}

.summary-session-container{
  height: 70%;
  min-height: 70%;
  position: relative;


  /*background-image: url("../../images/shopping_cart_background.png");
  background-color: #ffffff;
  border-top: 2px #cccccc solid;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;*/

  .user-information-container{
    position: relative;
    height: 80px;

    .user-information-image {
      padding: 10px;
      text-align: center;

      .user-information-image-content{
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        overflow: hidden;
        padding: 8px;
        margin: auto;
        z-index: 1;

        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        border-radius: 2%;

        -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);
        box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);

        img{
          max-width: 120%;
          max-height: initial;
          width: 120%;
          height: initial;
          top: -10%;
          left: -10%;
          position: absolute;
        }
      }
    }

    .user-information-summary{
      padding: 10px 20px 10px 10px;
      color: #ffffff;

      .user-information-summary-name{
        p{
          font-family: "Helvetica Bold";
          font-size: 20px;
          line-height: 20px;
          margin: 0px !important;
        }
      }

      .user-information-summary-email{
        p{
          font-family: "Helvetica Light";
          font-size: 14px;
        }
      }
    }
  }

  .shopping-summary{
    .shopping-summary-title{
      h4{
        font-family: "Helvetica Regular";
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 0px;
        text-align: center;
        color: #ffffff;
      }
    }

    ul{
      height: 200px;
      /*overflow-y: scroll;*/
      overflow: scroll;

      .shopping-summary-item{
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;

        .shopping-summary-item-image{
          .shopping-summary-item-image-content{
            display: block;
            width: 60px;
            height: 60px;
            overflow: hidden;
            padding: 8px;
            margin: auto;
            position: relative;
            z-index: 1;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 1px #999, 0 1px 1px 1px rgba(0,0,0,.2);
            -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 1px #999, 0 1px 1px 1px rgba(0,0,0,.2);
            box-shadow: 0 0 0 2px #fff, 0 0 0 1px #999, 0 1px 1px 1px rgba(0,0,0,.2);

            img{
              max-width: 120%;
              max-height: initial;
              width: 120%;
              height: initial;
              top: -10%;
              left: -10%;
              position: absolute;
            }
          }
        }

        .shopping-summary-item-info{
          margin-top: 10px;
          color: #ffffff;

          p{
            font-family: "Futura Light";
            font-size: 14px;
            line-height: 14px;
            margin: 0px !important;
          }

          .shopping-summary-item-info-price{
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;

            i{
              font-size: 14px;
              display: inline;
            }

            p{
              font-family: "Trajan Goudy";
              display: inline;
              font-size: 14px;
              b{
                display: inline;
                font-size: 26px;
              }
            }
          }
        }

        .shopping-summary-item-form{
          position: absolute;
          bottom: 35px;
          right: 95px;
        }

        .shopping-summary-item-actions{
          .btn-style-primary{
            display: block;
            margin: auto;
            position: absolute;
            top:-10px;
            right: 10px;
            &:hover{
              cursor: pointer;
            }

            i{
              color: #333333;
              font-size: 20px;
              line-height: 20px;
              padding: 10px;
            }
          }
        }
      }
    }
  }

  .cart-options-form{
    .btn-input-buy{
      background-color: #cccccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      overflow: hidden;

      .btn-input-buy-content{
        word-break: keep-all;
        white-space: nowrap;
        padding: 10px;

        i{
          font-size: 14px;
          display: inline;
        }

        p{
          font-family: "Helvetica Bold";
          display: inline;
          font-size: 14px;

          b{
            display: inline;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.menu-container{
  height: 70%;
  min-height: 70%;
  position: absolute;
  left: 0px;
  top: 100%;
  background: #cccccc;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 10;

  background-color: #ffffff;

  background-image: url("../../images/shopping_cart_background.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;

  .menu-nav-btn{
    position: absolute;
    top: -40px;
    left: 0px;
    text-align: center;
    display: block;
    z-index: 2;
    overflow: hidden;
    height: 40px;

    i{
      font-size: 20px;
      line-height: 20px;
      width: 70px;
      height: 70px;
      padding: 10px;
      top: 4px;
      position: relative;
      background-color: #ffffff;
      cursor: pointer;

      background-image: url("../../images/shopping_cart_background.png");
      background-position: center;
      background-repeat: repeat;
      background-size: 100%;

      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      border-radius: 10%;

      -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);
      -moz-box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);
      box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 2px 5px 4px rgba(0,0,0,.2);

    }
  }

  .menu-nav-container{
    ul{
      .menu-nav-item{
        &.active, &:hover{

          a{
            background-color: #ffffff;
            span{
              font-family: "Helvetica Bold";
            }
          }
        }

        a{
          border-bottom: 2px #999999 solid;
          display: block;
          color: #999999;
          text-align: center;

          i{
            display: block;
          }

          span{
            display: inline-block;
            padding: 10px;
            text-transform: uppercase;
            font-family: "Helvetica Regular";
          }
        }
      }
    }
  }

  .menu-search-container{
    .menu-searh-form{
      .menu-searh-form-content{
        position: relative;

        i{
          position: absolute;
          z-index: 10;
          font-size: 14px;
          line-height: 14px;
          right: 10px;
          top: 1px;
        }

        input{
          position: relative;
          font-size: 14px;
          line-height: 14px;
          width: 100%;
          text-align: center;
          border: 1px #cccccc solid;
          padding: 5px;

          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }
      }
    }
  }

  .menu-social-container{
    position: absolute;
    bottom: 0px;
    background-color: #cccccc;
    border-top: 1px #ffffff solid;

    .menu-social{
      position: relative;
      text-align: center;
      &.line::after{
        content: '';
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 1px;
        height: 100%;
        border-left: dotted 1px #ffffff;

      }

      a{
        text-decoration: none;
        color: #ffffff;
        &:hover{
          color: #ffffff;
        }

        i{
          padding: 10px;
          font-size: 30px;
          line-height: 30px;
        }
      }
    }
  }
}

.gallery-products-container{
  position: relative;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  .gallery-products{
    border:none;
    height:100%;
    border-collapse: collapse;

    tbody{
      height:100%;
      position:relative;

      tr{
        height:100%;
        position:relative;

        td{
          height:100%;
          position:relative;

          .gallery-products-item{
            height:100%;
            position:relative;

            .gallery-products-item-thumbnail{
              position:relative;
              height:100%;
              width:300px;
              word-wrap:break-word;
              overflow-x: hidden;
              overflow-y: hidden;
              padding:10px;
              white-space:normal;
              cursor:pointer;

              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }

            .gallery-products-item-summary{
              position:absolute;
              height:100%;
              width:300px;
              top: 0px;
              left: 0px;
              z-index: 10;
              cursor:pointer;
              background-color: rgba(0,0,0,0.5);
              padding: 15px;
              display: flex;

              .gallery-products-item-summary-title{
                border: 5px #ffffff solid;
                height: 100%;
                width: 300px;
                position: relative;
                display: flex;
                text-align: center;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;

                p{
                  font-family: "Olicana Smooth";
                  padding: 10px;
                  text-align: center;
                  font-size: 80px;
                  line-height: 70px;
                  color: #ffffff;
                }
              }
              .gallery-products-item-summary-social{
                height: 100%;
                width: 300px;
                position: absolute;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: center;
                left: 0px;
                top: 0px;

                .gallery-products-item-summary-social-content{
                  width: 100%;

                  .gallery-products-item-summary-social-info{
                    padding-bottom: 40px;

                    span{
                      text-align: center;
                      color: #ffffff;
                      font-size: 24px;
                      position: relative;
                      display: block;

                      i{
                        display: inline-block;
                      }
                      p{
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        font-size: 14px;
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        background-color: #cccccc;

                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                      }
                    }
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}

.box-input-number{
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  position: absolute;
  background-color: #ffffff;
  padding: 5px;
  border: 1px #cccccc solid;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  .btn-input-number{
    &:hover{
      cursor: pointer;
    }

    i{
      font-size: 14px;
      line-height: 14px;
      width: 20px;
      text-align: center;
    }
  }

  .txt-input-number{
    font-size: 14px;
    line-height: 14px;
    width: 20px;
    text-align: center;
    border: none;
  }
}

.page-links{
  padding-top: 10px;
  padding-bottom: 10px;

  .link{
    font-family: "Helvetica Light";
    font-size: 12px;
  }
}

ul{
  list-style: none;
  padding:0px;
}

hr.line{
  border: none;
  background-image: url("../../images/page_line_separator.png");
  height: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px;
}

.relative_height{
  position: relative;
  height: 100%;
}

.overflow-hidden{
  overflow:hidden;
}

.padding-0{
  padding: 0px;
}

.margin-right-0{
  margin-right: 0px;
}

.padding-right-0{
  padding-right: 0px;
}

input.menu-toogle[type=checkbox]{
  display: none;
}

input.menu-toogle[type=checkbox]:checked ~ .menu-container{
  bottom: 0px !important;
  top: initial !important;
}

img{
  max-width: 100%;
  height: initial;
}

a{
  color: #ffffff;
  font-size: 13px;
  font-family: "Helvetica Regular";
  cursor: pointer;

  &:hover{
    color: #999999;
  }
}